/* style.css */

/* Define primary colors */
:root {
    --primary-purple: #700cce;
    --secondary-purple: #7c4cec;
    --background-grey: #f3f4f6;
    --foreground-grey: #d1d5db;
    --dark-grey: #1f2937;
    --text-color: #333;
}

#form-container {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--primary-purple);
    box-shadow: 0 1px 10rem var(--secondary-purple);
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

h1 {
    color: var(--text-color);
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 2px solid var(--dark-grey);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#extension-status{
    cursor: pointer;
}

::placeholder {
    color: var(--foreground-grey);
}

input:focus::placeholder {
    color: var(--text-color);
}

h1::before {
    content: '⚡';
    margin-right: 10px;
    color: var(--secondary-purple);
}

input {
    background-color: var(--foreground-grey);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid var(--dark-grey);
    border-radius: 5px;
}

button {
    padding: 1rem;
    margin: 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-purple);
    box-shadow: 0 1px 50px var(--secondary-purple);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: var(--secondary-purple);
}

#websites-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#websites-list li {
    background-color: var(--background-grey);
    margin-bottom: 8px;
    padding: 12px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

#websites-list li a {
    text-decoration: none;
    color: var(--primary-purple);
    font-weight: 500;
}

#websites-list li:hover {
    background-color: var(--foreground-grey); 
    transform: translateY(-2px);
}

#websites-list li a:hover {
    color: var(--secondary-purple);
}

button {
    width: 10rem;
    display: flex;
    align-items: center;
    background-color: var(--secondary-purple);
    border: 1px solid var(--dark-grey);
}

.input-container {
    display: flex;
    gap: 2px;
}

.header {
    display: flex;
    justify-content: space-between; /* Distributes space evenly between items */
    align-items: center; /* Aligns items vertically in the center */
    padding: 20px;
}

#logout-button , #back-button, #account-button, #unlike-button, #like-button{
    all: unset; /* Remove all button-specific styles */
    background: transparent; /* Ensure the background is transparent */
    padding: 0; /* Remove padding */
    border: none; /* Remove border */
    cursor: pointer; /* Show pointer cursor */
}

#feedback-message{
    font-size: 12px;
    color: black;
}

#logout-button img.icon , #back-button img.icon, #account-button img.icon, #unlike-button img.icon, #like-button img.icon{
    width: 24px; /* Set a specific width for the icon */
    height: 24px; /* Set a specific height for the icon */
}

h2 {
    margin: 0; /* Remove default margin for better alignment */
    font-size: 18px; /* Adjust font size if needed */
    color: #333; /* Text color */
}

.h2 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.inputName {
    align-items: center;
    width: 5rem;
    font-size: 20px;
    border: none;
    padding-left: 1rem;
    margin: 0;
    background: transparent;
    border-bottom: 2px solid var(--dark-grey);
}

/* Resetting button styles */
#save-changes-button, #logout-button, #refresh-button{
    all: unset; /* Remove all button-specific styles */
    background: transparent; /* Ensure the background is transparent */
    padding: 0; /* Remove padding */
    border: none; /* Remove border */
    cursor: pointer; /* Show pointer cursor */
}

#save-changes-button img.icon , #logout-button  img.icon, #refresh-button img.icon{
    width: 24px; /* Set a specific width for the icon */
    height: 24px; /* Set a specific height for the icon */
}

.logout-button {
    width: 3rem;
    border: none;
    display: flex;
    align-items: center;
}

button img.icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

button span {
    font-size: 16px;
    color: #fff;
}

button:hover {
    background-color: var(--primary-purple);
    border-color: var(--foreground-grey);
}

#websites-table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--background-grey);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

#websites-table thead {
    background-color: var(--primary-purple);
    color: #fff;
}

#websites-table th, #websites-table td {
    padding: 12px;
    border: 1px solid var(--foreground-grey);
    text-align: left;
}

#websites-table th {
    font-weight: bold;
}

#websites-table td {
    background-color: var(--background-grey);
    color: var(--text-color);
}

#websites-table td a {
    text-decoration: none;
    color: var(--primary-purple);
    font-weight: 500;
}

#websites-table td a:hover {
    color: var(--secondary-purple);
}

#websites-table button {
    all: unset;
    background: transparent;
    cursor: pointer;
    padding: 0;
    border: none;
}

#websites-table button img.icon {
    width: 24px;
    height: 24px;
}

#websites-table td:hover {
    background-color: var(--foreground-grey);
    transform: translateY(-2px);
    transition: background-color 0.3s, transform 0.3s;
}

#websites-table button:hover {
    background-color: var(--foreground-grey); /* Example of hover effect for button */
}